<div class="modal">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <button type="button" data-close aria-label="Close" class="close-modal clear button float-right"><i class="fas fa-times"></i></button>
    </div>
    <div class="cell small-12 contact-success">
      <h2 class="huge">{{thank-you-header}}</h2>
      <p> {{thank-you-paragraph}} </p>
    </div>
    <div class="cell small-12 large-6 contact-success">
      <h2 class="h1 p-b-1">{{follow-header}}</h2>
      <p class="m-b-2">{{follow-paragraph}}</p>
      <div>
        <a href="https://www.facebook.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/dc2026" class="follow-button"><i class="follow-icon fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="cell small-12 contact-error">
      <h2 class="huge">{{error-header}}</h2>
      <p>{{error-paragraph}}</p>
    </div>
    <div class="cell small-12 large-5" id="contact-header">
      <h2 class="h1 p-b-1">{{header}}</h2>
      <p>{{paragraph}}</p>
    </div>
    <form data-abide novalidate id="c-form" class="cell small-12 large-7" method="post" action="contact.php">
      <label for="c-EMAIL">{{email-label}}
        <input type="email" value="" name="EMAIL" placeholder="eddie@dc2026.org" class="required email" id="c-EMAIL" pattern="email" required>
        <span class="form-error">{{email-error}}</span>
      </label>
      <label for="c-SUBJECT">{{email-subject-label}}
        <select name="SUBJECT" class="required" required>
          {{#each email-subjects}}
          <option value="{{ this }}">{{ this }}</option>
          {{/each}}
        </select>
        <span class="form-error">{{subject-error}}</span>
      </label>
      <label for="c-BODY">{{message-label}}
        <textarea name="BODY" class="required" id="c-BODY" maxlength="1000" cols="25" rows="6" required></textarea>
        <span class="form-error">{{message-error}}</span>
      </label>
      <div class="p-t-3">
        <input type="submit" value="Submit" name="c-submit" id="c-SUBMIT" class="button large success">
      </div>
    </form>
  </div>