<!doctype html>
<html class="no-js" lang="{{lang}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{{meta-title}}</title>
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="EventsDC">
    <meta name="description" content="{{meta-description}}">
    
    <meta property="og:title" content="{{og-title}}">
    <meta property="og:description" content="{{og-description}}">
    <meta property="og:url" content="https://dc2026.org">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{meta-title}}">
    <meta property="og:image" content="{{root}}assets/img/DC2026-og-img.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    
    <meta itemprop="name" content="{{meta-title}}">
    <meta itemprop="url" content="https://dc2026.org">
    <meta itemprop="description" content="{{meta-description}}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dc2026">
    <meta name="twitter:creator" content="@dc2026">
    <meta name="twitter:title" content="{{meta-title}}">
    <meta name="twitter:description" content="{{og-description}}">
    <meta name="twitter:image" content="{{root}}assets/img/DC2026-og-img.jpg">
    
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#141e46">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#141e46">

    
    {{> analytics}}
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> webfonts}}
    
  </head>
  <body class="no-js">
<!--    <script>document.body.className += ' fade'</script>-->
    {{> no-script-analytics}}
    {{> body}}
    
    <section id="section-hero" class="grid-container">
      <div id="logo-container">
        <h1 id="logo-text">DC26<br>World Cup<br>United States | Canada | Mexico</h1>
        <img src="{{root}}assets/img/DC2026-Logo-sm.png" alt="DC26 World Cup United States | Canada | Mexico" id="logo" data-aos="fade-right">
      </div>
      <div id="hero-graphics">
        <picture>
          <source srcset="{{root}}assets/img/DC2026-header_pattern-md.png" media="(min-width: 640px)"> 
          <img src="{{root}}assets/img/DC2026-header_pattern-sm.png" alt="" id="hero-graphic-pattern" data-aos="fade-up-left" data-aos-duration="400">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-Eddie_Pope_silhouette-md.png" media="(min-width: 960px)"> 
          <img src="{{root}}assets/img/DC2026-Eddie_Pope_silhouette-sm.png" alt="" id="hero-graphic-silhouette" data-aos="fade-right" data-aos-duration="400" data-aos-delay="200">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-Eddie_Pope-lg.png" media="(min-width: 960px)"> 
          <img src="{{root}}assets/img/DC2026-Eddie_Pope-sm.png" alt="{{ intro-athlete-image-alt }}" id="hero-graphic-athlete" data-aos="fade-right" data-aos-duration="400" data-aos-delay="400">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-header_banner-md.png" media="(min-width: 640px)"> 
          <img src="{{root}}assets/img/DC2026-header_banner-sm.png" alt="United by the Game" id="hero-graphic-banner" data-aos="fade" data-aos-delay="800" data-aos-duration="400">
        </picture>
      </div>
    </section>
    
    <nav id="language-nav">
      {{#ifequal lang "en"}}
        <strong class="button">EN</strong> <a href="{{root}}es/" class="button">ES</a>
      {{/ifequal}}
      {{#ifequal lang "es"}}
         <a href="{{root}}" class="button">EN</a> <strong class="button">ES</strong>
      {{/ifequal}}
    </nav>
    
    <div class="signup-banner" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="300" data-aos-easing="ease-out-sine"><button class="button secondary large signup-opener" data-intent="pledge">{{cta}}</button></div>

    <section class="grid-container p-b-2" id="section-intro" data-aos="fade-up">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 large-8 large-offset-4">
          <p class="lead">{{ intro-paragraph }}</p>
        </div>
      </div>
    </section>
    
    <section class="grid-container hide-for-large" id="section-tabs">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6 p-b-3">
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab1-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab1-image-alt}}"  src="{{root}}assets/img/DC2026-Real_Madrid_vs_Juventus_Field-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab1-content}}{{/markdown}}</div>
        </div>
        <div class="cell small-12 medium-6 p-b-3">
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab2-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab2-image-alt}}" src="{{root}}assets/img/DC2026-Nation_Flags_at_the_Kennedy_Center-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab2-content}}{{/markdown}}</div>
        </div>
        <div class="cell small-12 medium-6 p-b-3">          
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab3-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab3-image-alt}}" src="{{root}}assets/img/DC2026-The_National_Mall-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab3-content}}{{/markdown}}</div>
        </div>
        <div class="cell small-12 medium-6 p-b-3">          
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab4-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab4-image-alt}}" src="{{root}}assets/img/DC2026-Cyclists_near_The_Capitol-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab4-content}}{{/markdown}}</div>
        </div>
      </div>
    </section>
    
    <section class="grid-container show-for-large" id="section-tabs-large">
      <div class="grid-x grid-padding-x p-t-1 m-b-4">
        <div id="tab-section-container" class="cell small-12 large-4">
          <h2 class="h1" data-aos="fade-up">{{tabs-header}}</h2>
          <div id="tab-control-container">
            <div id="tab-container" data-aos="fade-up">
							<h3 id="tab1" data-tab-number="1" class="h2 tab-control"><span>{{tab1-header}}</span></h3>
							<h3 id="tab2" data-tab-number="2" class="h2 inactive tab-control"><span>{{tab2-header}}</span></h3>
							<h3 id="tab3" data-tab-number="3" class="h2 inactive tab-control"><span>{{tab3-header}}</span></h3>
							<h3 id="tab4" data-tab-number="4" class="h2 inactive tab-control"><span>{{tab4-header}}</span></h3>
            </div>
          </div>
        </div>
        <div id="tab-image-container" class="cell small-12 large-3">
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab1-image-alt}}" data-tab-image-number="1" class="tab-image" src="{{root}}assets/img/DC2026-Real_Madrid_vs_Juventus_Field-lg.jpg" data-aos="fade-up">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab2-image-alt}}" data-tab-image-number="2" class="tab-image hide" src="{{root}}assets/img/DC2026-Nation_Flags_at_the_Kennedy_Center-lg.jpg" data-aos="fade-up">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab3-image-alt}}" data-tab-image-number="3" class="tab-image hide" src="{{root}}assets/img/DC2026-The_National_Mall-lg.jpg" data-aos="fade-up">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab4-image-alt}}" data-tab-image-number="4" class="tab-image hide" src="{{root}}assets/img/DC2026-Cyclists_near_The_Capitol-lg.jpg" data-aos="fade-up">
          </picture>
        </div>
        <div id="tab-content-container" class="cell small-12 large-5">
          <div data-tab-content-number="1" class="tab-content" data-aos="fade-up">
            {{#markdown}}{{tab1-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="2" class="tab-content hide" data-aos="fade-up">
            {{#markdown}}{{tab2-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="3" class="tab-content hide" data-aos="fade-up">
            {{#markdown}}{{tab3-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="4" class="tab-content hide" data-aos="fade-up">
            {{#markdown}}{{tab4-content}}{{/markdown}}
          </div>
        </div>
      </div>
    </section>
        
    <section class="grid-container m-t-3" id="section-highlight">
      <div class="grid-x">
        <div class="cell small-10 small-offset-1 medium-9 medium-offset-1 large-5 large-offset-0">
          <div class="highlight-box" data-aos="fade-up-left">
            <div class="header-group m-b-3">
              <h2 class="h1">{{pledge-header}}</h2>
              <h3 class="h2">{{pledge-subheader}}</h3>
            </div>
            <button class="button success large signup-opener" data-intent="pledge">{{pledge-button}}</button>
          </div>
        </div>
        <div class="cell small-10 small-offset-1 medium-9 medium-offset-1 large-5 large-offset-1">
          <div class="highlight-box m-t-5" data-aos="fade-up-left">
            <div class="header-group m-b-3">
              <h2 class="h1">{{volunteer-header}}</h2>
              <h3 class="h2">{{volunteer-subheader}}</h3>
            </div>
            <button class="button success large signup-opener" data-intent="volunteer">{{volunteer-button}}</button>
          </div>
        </div>
      </div>
    </section>
    <div id="share-background" class="fluid" data-interchange="[{{root}}assets/img/DC2026-Share_Background-sm.png, small], [{{root}}assets/img/DC2026-Share_Background-sm.png, large]">
      <section class="grid-container p-t-6 p-b-8" id="section-share">
        <div class="grid-x grid-padding-x">
          <div id="post-container" class="cell small-12 medium-5 medium-offset-1 large-3 large-offset-2 show-for-large" data-aos="fade">
            <div class="post-example" id="post-facebook" data-post-channel="facebook">
              <div class="post-text-container">
  <!--              <strong>{{social-facebook-title}}</strong>-->
                {{#markdown}}{{social-facebook-paragraph-preview}}{{/markdown}}
              </div>
              <img alt="{{social-facebook-img-alt}}" src="{{root}}assets/img/DC26_Share_Facebook.jpg">
            </div>
            <div class="post-example hidden" id="post-twitter" data-post-channel="twitter">
              <div class="post-text-container">
                {{#markdown}}{{social-twitter-paragraph-preview}}{{/markdown}}
              </div>
              <img alt="{{social-twitter-img-alt}}" src="{{root}}assets/img/DC26_Share_Twitter.jpg">
            </div>
            <div class="post-example hidden" id="post-instagram" data-post-channel="instagram">
              <img alt="{{social-instagram-img-alt}}" src="{{root}}assets/img/DC26_Share_Instagram.jpg">
              <div class="post-text-container">
                {{#markdown}}{{social-instagram-paragraph-preview}}{{/markdown}}
              </div>
            </div>
            <div class="post-example hidden" id="post-whatsapp" data-post-channel="whatsapp">
              <div class="post-text-container"><p>
              {{social-whatsapp-paragraph}}
              </p></div>
            </div>
            <div class="post-example hidden" id="post-linkedin" data-post-channel="linkedin">
              <div class="post-text-container">
                {{#markdown}}{{social-linkedin-paragraph-preview}}{{/markdown}}
              </div>
              <img alt="{{social-linkedin-img-alt}}" src="{{root}}assets/img/DC26_Share_LinkedIn.jpg">
            </div>
            <div class="post-example hidden" id="post-messenger" data-post-channel="messenger">
              <div class="post-text-container"><p>
              {{social-messenger-paragraph}}
              </p></div>
            </div>
            <div class="post-example hidden" id="post-sms" data-post-channel="sms">
              <img alt="{{social-linkedin-img-alt}}" src="{{root}}assets/img/DC2026-og-img.jpg">
              <div class="post-text-container">
                {{#markdown}}{{social-sms-paragraph-preview}}{{/markdown}}
              </div>
            </div>
            <div class="post-example hidden" id="post-email" data-post-channel="email">
              <div id="post-email-top-bar"></div>
              <div class="post-text-container">
                <p id="post-email-input-bar">
                  <strong>{{social-email-subject}}</strong>
                </p>
                <p>
                  {{social-email-paragraph}}
                </p>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-6 medium-offset-1 large-4">
            <div class="grid-x">
              <div class="cell small-12" data-aos="fade">
                <div class="header-group m-b-3">
                  <h2 class="h1">{{ share-header }}</h2>
                  <h3 class="h2">{{ share-hashtag }}</h3>
                </div>
              </div>
              <div class="cell small-6" data-aos="fade">
                <a href="#" class="share-cta" id="cta-facebook" data-share-channel="facebook"><i class="share-cta-icon fab fa-facebook-f"></i>{{share-cta-facebook}}</a><br>
                <a href="#" class="share-cta" id="cta-twitter" data-share-channel="twitter"><i class="share-cta-icon fab fa-twitter"></i>{{share-cta-twitter}}</a><br>
                <a href="#" class="share-cta" id="cta-instagram" data-share-channel="instagram"><i class="share-cta-icon fab fa-instagram"></i>{{share-cta-instagram}}</a><br>
               <a href="#" class="share-cta" id="cta-whatsapp" data-share-channel="whatsapp"> <i class="share-cta-icon fab fa-whatsapp"></i>{{share-cta-whatsapp}}</a>
              </div>
              <div class="cell small-6" data-aos="fade">
                <a href="#" class="share-cta" id="cta-linkedin" data-share-channel="linkedin"><i class="share-cta-icon fab fa-linkedin"></i>{{share-cta-linkedin}}</a><br>
                <a href="#" class="share-cta" id="cta-messenger" data-share-channel="messenger"><i class="share-cta-icon fab fa-facebook-messenger"></i>{{share-cta-messenger}}</a><br>
                <a href="#" class="share-cta" id="cta-sms" data-share-channel="sms"><i class="share-cta-icon fas fa-sms"></i>{{share-cta-sms}}</a><br>
                <a href="#" class="share-cta" id="cta-email" data-share-channel="email"><i class="share-cta-icon far fa-envelope"></i>{{share-cta-email}}</a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <section id="section-media" class="grid-container">
      <div id="media-graphics">
        <picture>
<!--          <source srcset="{{root}}assets/img/DC2026-media_pattern-lg.png" media="(min-width: 960px)"> -->
          <img src="{{root}}assets/img/DC2026-media_pattern-sm.png" alt="" id="media-graphic-pattern" data-aos="fade" data-aos-anchor-placement="top-bottom">
        </picture>
        <picture>
<!--          <source srcset="{{root}}assets/img/DC2026-Mia_Hamm_silhouette-lg.png" media="(min-width: 960px)"> -->
          <img src="{{root}}assets/img/DC2026-Mia_Hamm_silhouette-sm.png" alt="" id="media-graphic-silhouette" data-aos="fade-right">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-Mia_Hamm-lg.png" media="(min-width: 960px)"> 
          <img src="{{root}}assets/img/DC2026-Mia_Hamm-sm.png" alt="{{ media-athlete-image-alt }}" id="media-graphic-athlete" data-aos="fade-right" data-aos-delay="200">
        </picture>
      </div>
      <div class="grid-x m-b-8">
        <div class="cell small-10 medium-6 medium-offset-1 large-4 large-offset-0">
          <h2 class="h1" data-aos="fade">{{follow-header}}</h2>
          <p data-aos="fade">{{follow-paragraph}}</p>
          <div data-aos="fade">
            <a href="https://www.facebook.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/dc2026" class="follow-button"><i class="follow-icon fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-instagram"></i></a>
<!--            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-youtube"></i></a>-->
<!--            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-snapchat-ghost"></i></a>-->
          </div>
        </div>
      </div>
      <div class="grid-x m-b-8">
        <div class="cell small-10 medium-6 medium-offset-1 large-4 large-offset-0">
          <h2 class="h1" data-aos="fade">{{contact-header}}</h2>
          <p data-aos="fade">{{contact-paragraph}}</p>
          <button class="button success large contact-opener" data-aos="fade">{{contact-button}}</button>
        </div>
      </div>
      <div class="grid-x">
        <div class="cell small-10 medium-6 medium-offset-1 large-3 large-offset-0">
          <h2 class="h1" data-aos="fade">{{media-header}}</h2>
          <p data-aos="fade">{{media-paragraph}}</p>
        </div>
      </div>
      <div class="grid-x p-b-8">
        <div class="cell small-6 medium-offset-1 large-10" data-aos="fade">
            <div class="grid-x grid-margin-x">
              <div class="cell small-12 large-3 download">
                <img alt="{{download-logo-img-alt}}" src="{{root}}assets/img/DC26_Logo_Image.jpg">
                <h3 class="h4">{{download-logo}}</h3>
                <p>
                  <a href="{{root}}assets/img/DC26_Logos_png.zip" target="_blank">{{download-label}} .png</a><br>
                  <a href="{{root}}assets/img/DC26_Logos_eps.zip" target="_blank">{{download-label}} .eps</a>
                </p>
              </div>
              <div class="cell small-12 large-3 large-offset-1 download">
                <img alt="{{download-fact-sheet-img-alt}}" src="{{root}}assets/img/DC26_FactSheet_Image.jpg">
                <h3 class="h4">{{download-fact-sheet}}</h3>
                <p>
                  <a href="{{root}}assets/img/DC26_FactSheet.pdf" target="_blank">{{download-label}} PDF</a>
                </p>
              </div>
              <div class="cell small-12 large-3 large-offset-1 download">
                <img alt="{{download-press-release-img-alt}}" src="https://placehold.it/350x450">
                <h3 class="h4">{{download-press-release}}</h3>
                <p>
                  <a href="#TODO" target="_blank">{{download-label}} PDF</a>
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>
    
    <section id="section-board" class="p-t-3 p-b-3">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell small-8 large-5 m-b-1">
            <h2 class="h1 m-b-2" data-aos="fade">{{board-header}}</h2>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 member-container" data-aos="fade">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Max Brown</p>
                <p class="member-org-large">Events DC</p>
              </div>
              <div class="cell small-6 member-container" data-aos="fade">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Mark Ein</p>
                <p class="member-org-large">Capitol Investment Corp. IV</p>
              </div>
              <div class="cell small-6 member-container" data-aos="fade">
                <p class="member-title-large">Honorary Chair</p>
                <p class="member-name-large">Gina Adams</p>
                <p class="member-org-large">FedEx Corporation</p>
              </div>
              <div class="cell small-6 member-container" data-aos="fade">
                <p class="member-title-large">Honorary Chair</p>
                <p class="member-name-large">Ted Leonsis</p>
                <p class="member-org-large">Monumental Sports &amp; Entertainment</p>
              </div>
              <div class="cell small-6 member-container" data-aos="fade">
                <p class="member-title-large">Host Team</p>
                <p class="member-name-large">Jason Levien</p>
                <p class="member-org-large">D.C. United</p>
              </div>
            </div>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Yousef Al Otaiba</p>
                <p class="member-org">United Arab Emirates</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Pedro Alfonso</p>
                <p class="member-org">Dynamic Concepts, Inc.</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Jose Andres</p>
                <p class="member-org">World Central Kitchen</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Rusher Baker</p>
                <p class="member-org">Prince George's County</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Sashi Brown</p>
                <p class="member-org">Monumental Sports &amp; Entertainment</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Stephen Choi</p>
                <p class="member-org">Washington Redskins,<br>FedExField</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">John	Falcicchio</p>
                <p class="member-org">DMPED</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Ed	Foster-Simeon</p>
                <p class="member-org">U.S. Soccer Foundation</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Bill	Hamid</p>
                <p class="member-org">DC United</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Ximena Hartsock</p>
                <p class="member-org">Phone2Action</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Monty Hoffman</p>
                <p class="member-org">Hoffman &amp; Assoc.</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Brian Huseman</p>
                <p class="member-org">Amazon</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Matt Kelly</p>
                <p class="member-org">JBG Smith Properties</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Joanna Lohman</p>
                <p class="member-org">Washington Spirit,<br>Gay Games</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">LaRuby May</p>
                <p class="member-org">Former Ward 8 Councilmember</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Kenyan McDuffie</p>
                <p class="member-org">Ward 5 Councilmember</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Brent Minor</p>
                <p class="member-org">Team DC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Chris Nassetta</p>
                <p class="member-org">Hilton</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Kurt Newman</p>
                <p class="member-org">Children's Hospital</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Greg O'Dell</p>
                <p class="member-org">Events DC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Heather Podesta</p>
                <p class="member-org">Invariant</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Eddie Pope</p>
                <p class="member-org">Octagon</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Nicole Quiroga</p>
                <p class="member-org">Greater Washington Hispanic Chamber of Commerce</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Arturo Sarukhan</p>
                <p class="member-org">Sarukhan + Associates LLC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Rudy Seikaly</p>
                <p class="member-org">MCN</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Ben Soto</p>
                <p class="member-org">Premium Title &amp; Escrow</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Andi Sullivan</p>
                <p class="member-org">US Women's National Team,<br>Washington Spirit</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Mark Weinberger</p>
                <p class="member-org">EY</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
       
    <footer class="grid-container p-t-5">
      <div class="grid-x grid-padding-x">
        <div class="cell small-8 large-5">
          <h2 class="h1 m-b-5">{{footer-header}}</h2>
        </div>
      </div>
      <div class="grid-x grid-margin-x m-b-4">
				<div class="cell small-3 medium-2 medium-offset-1 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-alexandria_soccer-sm.png" alt="Alexandria Soccer Association">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-arlington_soccer-sm.png" alt="Arlington Soccer Association est 1970">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-district_sports-sm.png" alt="District Sports">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-maryland_soccerplex-sm.png" alt="Maryland SoccerPlex">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-potomac_soccer-sm.png" alt="Potomac Soccer Association">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-shenandoah_valley_united-sm.png" alt="Shenandoah Valley United">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-vbr_star-sm.png" alt="VBR Star 1986">
				</div>
				<div class="cell small-3 medium-2 m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-washington_spirit-sm.png" alt="Washington Spirit">
				</div>
				<div class="cell small-3 medium-3 align-self-middle m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-horizons_edge-sm.png" alt="VBR Star 1986">
				</div>
				<div class="cell small-3 medium-3 align-self-middle m-b-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-trinity_washington-sm.png" alt="Washington Spirit">
				</div>
				<div class="cell small-3 medium-4 medium-offset-2" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-government_of_dc-sm.png" alt="We Are Washington DC - Government of the District of Columbia Muriel Bowser Mayor">
				</div>
				<div class="cell small-3 medium-4" data-aos="fade">
					<img src="{{root}}assets/img/DC2026-partner-fedex_field-sm.png" alt="fedex_field" alt="FedEx Field">
				</div>
      </div>
      <div class="grid-x">
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-United2026_Logo.png" alt="{{united2026-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-CA_Soccer_Logo.png" alt="{{canada-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-MX_Soccer_Logo.png" alt="{{mexico-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-US_Soccer_Logo.png" alt="{{us-soccer-logo-alt}}">
        </div>
        <div class="cell small-4 small-offset-4 medium-1 medium-offset-7 m-b-2">
          <img src="{{root}}assets/img/DC2026-Events_DC_Logo.png" alt="{{us-soccer-logo-alt}}" class="float-center">
        </div>
        <div class="cell small-12">
          <p class="text-center"><small>{{copyright}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="http://eventsdc.com/Privacy.aspx">{{privacy-policy}}</a></small></p>
        </div>
      </div>
    </footer>
    
    <div class="reveal large reverse" id="modal" data-reveal data-overlay="true" data-animation-in="fade-in" data-animation-out="fade-out" data-events="resize"></div>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    
  </body>
</html>
