<!doctype html>
<html class="no-js" lang="{{lang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{{meta-title}}</title>
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="EventsDC" />
    <meta name="description" content="{{meta-description}}">
    <meta property="og:title" content="{{og-title}}" />
    <meta property="og:description" content="{{og-description}}" />
    <meta property="og:url" content="http://TODO.com" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{meta-title}}" />
<!--
    <meta property="og:image" content="http://atyolk.com/assets/img/eye-share.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="">
-->
    <meta itemprop="name" content="TODO">
    <meta itemprop="url" content="TODO">
<!--    <meta itemprop="description" content="">-->
<!--    <meta name="twitter:card" content="summary_large_image">-->
    <meta name="twitter:site" content="TODO">
    <meta name="twitter:creator" content="TODO">
    <meta name="twitter:title" content="TODO">
    <meta name="twitter:description" content="">
<!--    <meta name="twitter:image" content="http://atyolk.com/assets/img/eye-share.png">-->
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/apple-touch-icon-152x152-precomposed.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="TODO">
    <meta name="apple-mobile-web-app-title" content="TODO">
    
    {{> analytics}}
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> webfonts}}
    
  </head>
  <body class="no-js">
<!--    <script>document.body.className += ' fade'</script>-->
    {{> no-script-analytics}}
    {{> body}}
    
    <section id="section-hero" class="grid-container">
      <div id="logo-container">
        <h1 id="logo-text">DC26<br>World Cup<br>United States | Canada | Mexico</h1>
        <img src="{{root}}assets/img/DC2026-Logo-sm.png" alt="DC26 World Cup United States | Canada | Mexico" id="logo">
      </div>
      <div id="hero-graphics">
        <img src="{{root}}assets/img/DC2026-header_pattern-sm.png" alt="" id="hero-graphic-pattern">
        <img src="{{root}}assets/img/DC2026-Eddie_Pope_silhouette-sm.png" alt="{{ intro-athlete-image-alt }}" id="hero-graphic-silhouette">
        <img src="{{root}}assets/img/DC2026-Eddie_Pope-sm.png" alt="" id="hero-graphic-athlete">
        <img src="{{root}}assets/img/DC2026-header_banner-sm.png" alt="United by the Game" id="hero-graphic-banner">
        <nav>
          {{#ifequal lang "en"}}
            <strong class="button">EN</strong> <a href="{{root}}/es/" class="button">ES</a>
          {{/ifequal}}
          {{#ifequal lang "es"}}
             <a href="{{root}}" class="button">EN</a> <strong class="button">ES</strong>
          {{/ifequal}}
        </nav>
      </div>
    </section>
    
    
    
    <div class="signup-banner"><a href="_signup.html" rel="modal:open" class="button secondary large" >{{cta}}</a></div>

    <section class="grid-container p-b-2" id="section-intro">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-7 medium-offset-3 large-offset-4" data-aos="fade">
          <p class="lead">{{ intro-paragraph }}</p>
        </div>
      </div>
    </section>
    
    <section class="grid-container hide-for-large" id="section-tabs">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6 p-b-3">
          <h2 class="header-group h1">{{tabs-header}}</h2>
          <h3 class="header-group h2">{{tab1-header}}</h3>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab1-image-alt}}"  src="{{root}}assets/img/DC2026-Real_Madrid_vs_Juventus_Field-sm.jpg">
          </picture>
          <p>{{#markdown}}{{tab1-content}}{{/markdown}}</p>
        </div>
        <div class="cell small-12 medium-6 p-b-3">
          <h2 class="header-group h1">{{tabs-header}}</h2>
          <h3 class="header-group h2">{{tab2-header}}</h3>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab2-image-alt}}" src="{{root}}assets/img/DC2026-Nation_Flags_at_the_Kennedy_Center-sm.jpg">
          </picture>
          <p>{{#markdown}}{{tab2-content}}{{/markdown}}</p>
        </div>
        <div class="cell small-12 medium-6 p-b-3">          
          <h2 class="header-group h1">{{tabs-header}}</h2>
          <h3 class="header-group h2">{{tab3-header}}</h3>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab3-image-alt}}" src="{{root}}assets/img/DC2026-The_National_Mall-sm.jpg">
          </picture>
          <p>{{#markdown}}{{tab3-content}}{{/markdown}}</p>
        </div>
        <div class="cell small-12 medium-6 p-b-3">          
          <h2 class="header-group h1">{{tabs-header}}</h2>
          <h3 class="header-group h2">{{tab4-header}}</h3>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab4-image-alt}}" src="{{root}}assets/img/DC2026-Cyclists_near_The_Capitol-sm.jpg">
          </picture>
          <p>{{#markdown}}{{tab4-content}}{{/markdown}}</p>
        </div>
      </div>
    </section>
    
    <section class="grid-container show-for-large" id="section-tabs-large">
      <div class="grid-x grid-padding-x p-t-1 m-b-4">
        <div id="tab-section-container" class="cell small-12 large-4">
          <h2>{{tabs-header}}</h2>
          <div id="tab-control-container">
            <div id="tab-container">
              <h3 id="tab1" data-tab-number="1" class="tab-control">{{tab1-header}}</h3>
              <h3 id="tab2" data-tab-number="2" class="inactive tab-control">{{tab2-header}}</h3>
              <h3 id="tab3" data-tab-number="3" class="inactive tab-control">{{tab3-header}}</h3>
              <h3 id="tab4" data-tab-number="4" class="inactive tab-control">{{tab4-header}}</h3>
            </div>
          </div>
        </div>
        <div id="tab-image-container" class="cell small-12 large-3">
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab1-image-alt}}" data-tab-image-number="1" class="tab-image" src="{{root}}assets/img/DC2026-Real_Madrid_vs_Juventus_Field-lg.jpg">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab2-image-alt}}" data-tab-image-number="2" class="tab-image hide" src="{{root}}assets/img/DC2026-Nation_Flags_at_the_Kennedy_Center-lg.jpg">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab3-image-alt}}" data-tab-image-number="3" class="tab-image hide" src="{{root}}assets/img/DC2026-The_National_Mall-lg.jpg">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab4-image-alt}}" data-tab-image-number="4" class="tab-image hide" src="{{root}}assets/img/DC2026-Cyclists_near_The_Capitol-lg.jpg">
          </picture>
        </div>
        <div id="tab-content-container" class="cell small-12 large-5">
          <div data-tab-content-number="1" class="tab-content">
            {{#markdown}}{{tab1-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="2" class="tab-content hide">
            {{#markdown}}{{tab2-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="3" class="tab-content hide">
            {{#markdown}}{{tab3-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="4" class="tab-content hide">
            {{#markdown}}{{tab4-content}}{{/markdown}}
          </div>
        </div>
      </div>
    </section>
    
    <section class="grid-container m-t-3" id="section-highlight">
      <div class="grid-x">
        <div class="cell small-12 large-5">
          <div class="highlight-box">
            <h2 class="header-group h1 p-b-3">{{pledge-header}}<br><span class="subheader">{{pledge-subheader}}</span></h2>
            <a href="_signup.html" rel="modal:open" class="button success large">{{pledge-button}}</a>
          </div>
        </div>
        <div class="cell small-12 large-5 large-offset-1">
          <div class="highlight-box m-t-5">
            <h2 class="header-group h1 p-b-3">{{volunteer-header}}<br><span class="subheader">{{volunteer-subheader}}</span></h2>
            <a href="_signup.html" rel="modal:open" class="button success large">{{volunteer-button}}</a>
          </div>
        </div>
      </div>
    </section>
    
    <section class="grid-container" id="section-share">
      <div class="grid-x grid-padding-x">
        <div id="post-container" class="cell small-12 medium-5 medium-offset-1 large-4 large-offset-2 show-for-medium">
          <div class="post-example" id="post-facebook" data-post-channel="facebook">
            <img alt="{{social-facebook-img-alt}}" src="https://placehold.it/600x300">
            <p><strong>{{social-facebook-title}}</strong>
            {{social-facebook-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-twitter" data-post-channel="twitter">
            <p>{{social-twitter-paragraph}}</p>
          </div>
          <div class="post-example hidden" id="post-instagram" data-post-channel="instagram">
            <img alt="{{social-twitter-img-alt}}" src="https://placehold.it/480x480">
            <p>
            {{social-instagram-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-whatsapp" data-post-channel="whatsapp">
            <p>
            {{social-whatsapp-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-linkedin" data-post-channel="linkedin">
            <img alt="{{social-linkedin-img-alt}}" src="https://placehold.it/600x300">
            <p>
            {{social-linkedin-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-messenger" data-post-channel="messenger">
            <p>
            {{social-messenger-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-sms" data-post-channel="sms">
            <p>
            {{social-sms-paragraph}}
            </p>
          </div>
          <div class="post-example hidden" id="post-email" data-post-channel="email">
            <div id="post-email-top-bar"></div>
            <p id="post-email-input-bar">
              <strong>{{social-email-subject}}asdfasd</strong>
            </p>
            <p>
            {{social-email-paragraph}}
            </p>
          </div>
        </div>
        <div class="cell small-12 medium-6 medium-offset-1 large-4">
          <div class="grid-x">
            <div class="cell small-12">
              <h2 class="header-group h1 p-b-3">{{ share-header }}<br><span class="subheader">{{ share-hashtag }}</span></h2>
            </div>
            <div class="cell small-6">
              <a href="#" class="share-cta" id="cta-facebook" data-share-channel="facebook"><i class="share-cta-icon fab fa-facebook-f"></i>{{share-cta-facebook}}</a><br>
              <a href="#" class="share-cta" id="cta-twitter" data-share-channel="twitter"><i class="share-cta-icon fab fa-twitter"></i>{{share-cta-twitter}}</a><br>
              <a href="#" class="share-cta" id="cta-instagram" data-share-channel="instagram"><i class="share-cta-icon fab fa-instagram"></i>{{share-cta-instagram}}</a><br>
             <a href="#" class="share-cta" id="cta-whatsapp" data-share-channel="whatsapp"> <i class="share-cta-icon fab fa-whatsapp"></i>{{share-cta-whatsapp}}</a>
            </div>
            <div class="cell small-6">
              <a href="#" class="share-cta" id="cta-linkedin" data-share-channel="linkedin"><i class="share-cta-icon fab fa-linkedin"></i>{{share-cta-linkedin}}</a><br>
              <a href="#" class="share-cta" id="cta-messenger" data-share-channel="messenger"><i class="share-cta-icon fab fa-facebook-messenger"></i>{{share-cta-messenger}}</a><br>
              <a href="#" class="share-cta" id="cta-sms" data-share-channel="sms"><i class="share-cta-icon far fa-comment"></i>{{share-cta-sms}}</a><br>
              <a href="#" class="share-cta" id="cta-email" data-share-channel="email"><i class="share-cta-icon far fa-envelope"></i>{{share-cta-email}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section id="section-media" class="grid-container">
      <div class="grid-x m-b-8">
        <div class="cell small-12 medium-7 large-5">
          <h2 class="h1">{{follow-header}}</h2>
          <p>{{follow-paragraph}}</p>
          <div>
            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-facebook-f"></i></a>
            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-twitter"></i></a>
            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-instagram"></i></a>
            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-youtube"></i></a>
            <a href="#TODO" class="follow-button"><i class="follow-icon fab fa-snapchat-ghost"></i></a>
          </div>
        </div>
      </div>
      <div class="grid-x m-b-8">
        <div class="cell small-12 medium-7 large-5">
          <h2 class="h1">{{contact-header}}</h2>
          <p>{{contact-paragraph}}</p>
          <a href="_contact.html" rel="modal:open" class="button success large">{{contact-button}}</a>
        </div>
      </div>
      <div class="grid-x m-b-2">
        <div class="cell small-12 medium-7 large-5">
          <h2 class="h1">{{media-header}}</h2>
          <p>{{media-paragraph}}</p>
        </div>
      </div>
      <div class="grid-x m-b-8">
        <div class="cell large-offset-1 large-10">
          <div class="download">
            <img alt="{{download-logo-img-alt}}" src="https://placehold.it/350x500">
            <h3 class="h5">{{download-logo}}</h3>
            <p>
              <a href="#TODO">{{download-label}} .png</a><br>
              <a href="#TODO">{{download-label}} .eps</a>
            </p>
          </div>
          <div class="download">
            <img alt="{{download-images-img-alt}}" src="https://placehold.it/350x500">
            <h3 class="h5">{{download-images}}</h3>
            <p>
              <a href="#TODO">{{download-label}} .jpg</a>
            </p>
          </div>
          <div class="download">
            <img alt="{{download-fact-sheet-img-alt}}" src="https://placehold.it/350x500">
            <h3 class="h5">{{download-fact-sheet}}</h3>
            <p>
              <a href="#TODO">{{download-label}} PDF</a>
            </p>
          </div>
          <div class="download">
            <img alt="{{download-press-release-img-alt}}" src="https://placehold.it/350x500">
            <h3 class="h5">{{download-press-release}}</h3>
            <p>
              <a href="#TODO">{{download-label}} PDF</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section id="section-board" class="p-t-4 p-b-4">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell small-8 large-5">
            <h2 class="h1 m-b-2">{{board-header}}</h2>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 member-container">
                <p class="member-title-large">Mayor</p>
                <p class="member-name-large">Muriel Bowser</p>
                <p class="member-org-large">Washington, DC</p>
              </div>
              <div class="cell small-6 member-container">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Max Brown</p>
                <p class="member-org-large">Events DC</p>
              </div>
              <div class="cell small-6 member-container">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Mark Ein</p>
                <p class="member-org-large">Capitol Investment Corp. IV</p>
              </div>
              <div class="cell small-6 member-container">
                <p class="member-title-large">Honorary Chair</p>
                <p class="member-name-large">Gina Adams</p>
                <p class="member-org-large">FedEx Corporation</p>
              </div>
              <div class="cell small-6 member-container">
                <p class="member-title-large">Honorary Chair</p>
                <p class="member-name-large">Ted Leonsis</p>
                <p class="member-org-large">Monumental Sports &amp; Entertainment</p>
              </div>
              <div class="cell small-6 member-container">
                <p class="member-title-large">Host Team</p>
                <p class="member-name-large">Jason Levien</p>
                <p class="member-org-large">D.C. United</p>
              </div>
            </div>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Yousef Al Otaiba</p>
                <p class="member-org">United Arab Emirates</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Pedro Alfonso</p>
                <p class="member-org">Dynamic Concepts, Inc.</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose Andres</p>
                <p class="member-org">World Central Kitchen</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container">
                <p class="member-name">Jose</p>
                <p class="member-org">World</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
       
    <footer class="grid-container p-t-5 p-b-6">
      <div class="grid-x grid-padding-x">
        <div class="cell small-8 large-5">
          <h2 class="h1 m-b-5">{{footer-header}}</h2>
        </div>
      </div>
      <div class="grid-x grid-margin-x m-b-4">
        {{#repeat 12}}
          <div class="cell small-3 large-2 m-b-2">
            <img src="//placehold.it/300x300">
          </div>
        {{/repeat}}
      </div>
      <div class="grid-x">
        <div class="cell small-3 m-b-2">
          <img src="{{root}}assets/img/DC2026-United2026_Logo.png" alt="{{united2026-logo-alt}}">
        </div>
        <div class="cell small-3 m-b-2">
          <img src="{{root}}assets/img/DC2026-CA_Soccer_Logo.png" alt="{{canada-logo-alt}}">
        </div>
        <div class="cell small-3 m-b-2">
          <img src="{{root}}assets/img/DC2026-MX_Soccer_Logo.png" alt="{{mexico-logo-alt}}">
        </div>
        <div class="cell small-3 m-b-2">
          <img src="{{root}}assets/img/DC2026-US_Soccer_Logo.png" alt="{{us-soccer-logo-alt}}">
        </div>
        <div class="cell small-4 small-offset-4 m-b-2">
          <img src="{{root}}assets/img/DC2026-Events_DC_Logo.png" alt="{{us-soccer-logo-alt}}" class="float-center">
        </div>
        <div class="cell small-12">
          <p class="text-center">{{copyright}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; {{privacy-policy}}</p>
        </div>
      </div>
    </footer>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    
  </body>
</html>
