<!doctype html>
<html class="no-js" lang="{{lang}}">   
  <head> 
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>{{meta-title}}</title>
    <meta name="keywords" content="{{meta-keywords}}">
    <meta name="author" content="EventsDC">
    <meta name="description" content="{{meta-description}}">
    
    <meta property="og:title" content="{{og-title}}">
    <meta property="og:description" content="{{og-description}}">
    <meta property="og:author" content="EventsDC">
		{{#ifequal lang "en"}}
			<meta property="og:url" content="https://dc2026.org">
    	<meta property="og:locale" content="en_US">
		{{/ifequal}}
		{{#ifequal lang "es"}}
			<meta property="og:url" content="https://dc2026.org/es/">
    	<meta property="og:locale" content="es_LA">
		{{/ifequal}}
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{meta-title}}">
    <meta property="og:image" content="https://dc2026.org/assets/img/DC2026-og-img.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="940">
    <meta property="og:image:height" content="788">
    
    <meta itemprop="name" content="{{meta-title}}">
		{{#ifequal lang "en"}}
    	<meta itemprop="url" content="https://dc2026.org">
		{{/ifequal}}
		{{#ifequal lang "es"}}
    	<meta itemprop="url" content="https://dc2026.org/es/">
		{{/ifequal}}
    <meta itemprop="description" content="{{meta-description}}">
    
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@dc2026">
    <meta name="twitter:creator" content="@dc2026">
    <meta name="twitter:title" content="{{meta-title}}">
    <meta name="twitter:description" content="{{og-description}}">
    <meta name="twitter:image" content="https://dc2026.org/assets/img/DC2026-Share_Twitter{{#ifequal lang 'es'}}_ES{{/ifequal}}.jpg">
    
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#141e46">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#141e46">

    
    {{> analytics}}
    
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    
    {{> webfonts}}
    
  </head>
  <body class="no-js">
<!--    <script>document.body.className += ' fade'</script>-->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '223348358811580',
				xfbml      : true,
				version    : 'v7.0'
			});
			FB.AppEvents.logPageView();
		};

		(function(d, s, id){
			 var js, fjs = d.getElementsByTagName(s)[0];
			 if (d.getElementById(id)) {return;}
			 js = d.createElement(s); js.id = id;
		{{#ifequal lang "en"}}
			 js.src = "https://connect.facebook.net/en_US/sdk.js";
		{{/ifequal}}
		{{#ifequal lang "es"}}
			 js.src = "https://connect.facebook.net/es_LA/sdk.js";
		{{/ifequal}}
			 fjs.parentNode.insertBefore(js, fjs);
		 }(document, 'script', 'facebook-jssdk'));
	</script>
		{{> no-script-analytics}}
    {{> body}}
    
    <section id="section-hero" class="grid-container">
      <div id="logo-container">
        <h1 id="logo-text">DC26<br>World Cup<br>United States | Canada | Mexico</h1>
        {{#ifequal lang "en"}}
          <img src="{{root}}assets/img/DC2026-En_Vertical_On-Screen_RGB_Large.png" alt="DC26 World Cup | FIFA World Cup 2026 Candidate Host City" id="logo" data-aos="fade-right">
        {{/ifequal}}
        {{#ifequal lang "es"}}
          <img src="{{root}}assets/img/DC2026-Es_Vertical_On-Screen_RGB_Large.png" alt="DC26 World Cup | FIFA World Cup 2026 Candidate Host City" id="logo" data-aos="fade-right">
        {{/ifequal}}
      </div>
      <div id="hero-graphics">
        <picture>
          <source srcset="{{root}}assets/img/DC2026-header_pattern-md.png" media="(min-width: 640px)"> 
          <img src="{{root}}assets/img/DC2026-header_pattern-sm.png" alt="" id="hero-graphic-pattern" data-aos="fade-up-left" data-aos-duration="400">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-Eddie_Pope_silhouette-md.png" media="(min-width: 960px)"> 
          <img src="{{root}}assets/img/DC2026-Eddie_Pope_silhouette-sm.png" alt="" id="hero-graphic-silhouette" data-aos="fade-right" data-aos-duration="400" data-aos-delay="200">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-Eddie_Pope-lg.png" media="(min-width: 960px)"> 
          <img src="{{root}}assets/img/DC2026-Eddie_Pope-sm.png" alt="{{ intro-athlete-image-alt }}" id="hero-graphic-athlete" data-aos="fade-right" data-aos-duration="400" data-aos-delay="400">
        </picture>
        <picture>
          <source srcset="{{root}}assets/img/DC2026-header_banner-md.png" media="(min-width: 640px)"> 
          <img src="{{root}}assets/img/DC2026-header_banner-sm.png" alt="United by the Game" id="hero-graphic-banner" data-aos="fade" data-aos-delay="800" data-aos-duration="400">
        </picture>
				<div id="hero-graphic-caption" class="show-for-large" data-aos="fade-right" data-aos-duration="400" data-aos-delay="400">
					<p class="caption"><strong>{{ intro-athlete-name }}</strong><br>{{ intro-athlete-title }}</p>
				</div>
      </div>
    </section>
    
    <main style="background:#141e46">
    <nav id="language-nav">
      {{#ifequal lang "en"}}
        <strong class="button">EN</strong> <a href="{{root}}es/" class="button">ES</a>
      {{/ifequal}}
      {{#ifequal lang "es"}}
         <a href="{{root}}" class="button">EN</a> <strong class="button">ES</strong>
      {{/ifequal}}
    </nav>
    
    <div class="signup-banner" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="300" data-aos-easing="ease-out-sine" data-aos-once="false"><a class="button secondary large" href="{{pledge-link}}"><span>{{cta}}</span></a></div>

    <section class="grid-container p-b-2" id="section-intro" data-aos="fade-up">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 large-8 large-offset-4">
          <p class="lead">{{ intro-paragraph }}</p>
        </div>
      </div>
    </section>
    <section class="grid-container hide-for-large" id="section-tabs">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12 medium-6 p-b-3">
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab1-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab1-image-alt}}"  src="{{root}}assets/img/DC2026-Friendship_Archway-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab1-content}}{{/markdown}}</div>
        </div>
        <div class="cell small-12 medium-6 p-b-3">
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab2-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab2-image-alt}}" src="{{root}}assets/img/DC2026-Mary_J_Blige-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab2-content}}{{/markdown}}</div>
        </div>
        <div class="cell small-12 medium-6 p-b-3">          
          <div class="header-group" data-aos="fade">
            <h2 class="h1">{{tabs-header}}</h2>
            <h3 class="h2">{{tab3-header}}</h3>
          </div>
          <picture data-aos="fade">
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(min-width: 960px)"> 
            <img alt="{{tab3-image-alt}}" src="{{root}}assets/img/DC2026-DC_Scores-sm.jpg">
          </picture>
          <div class="m-t-2" data-aos="fade">{{#markdown}}{{tab3-content}}{{/markdown}}</div>
        </div>
      </div>
    </section>
    
    <section class="grid-container show-for-large" id="section-tabs-large">
      <div class="grid-x grid-padding-x p-t-1 m-b-4">
        <div id="tab-section-container" class="cell small-12 large-4">
          <h2 class="h1" data-aos="fade-up">{{tabs-header}}</h2>
          <div id="tab-control-container">
            <div id="tab-container" data-aos="fade-up">
							<h3 id="tab1" data-tab-number="1" class="h2 tab-control"><span>{{tab1-header}}</span></h3>
							<h3 id="tab2" data-tab-number="2" class="h2 inactive tab-control"><span>{{tab2-header}}</span></h3>
							<h3 id="tab3" data-tab-number="3" class="h2 inactive tab-control"><span>{{tab3-header}}</span></h3>
            </div>
          </div>
        </div>
        <div id="tab-image-container" class="cell small-12 large-3">
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab1-image-alt}}" data-tab-image-number="1" class="tab-image" src="{{root}}assets/img/DC2026-Friendship_Archway-lg.jpg" data-aos="fade-up">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab2-image-alt}}" data-tab-image-number="2" class="tab-image hide" src="{{root}}assets/img/DC2026-Mary_J_Blige-lg.jpg" data-aos="fade-up">
          </picture>
          <picture>
            <source srcset="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" media="(max-width: 959px)"> 
            <img alt="{{tab3-image-alt}}" data-tab-image-number="3" class="tab-image hide" src="{{root}}assets/img/DC2026-DC_Scores-lg.jpg" data-aos="fade-up">
          </picture>
        </div>
        <div id="tab-content-container" class="cell small-12 large-5">
          <div data-tab-content-number="1" class="tab-content" data-aos="fade-up">
            {{#markdown}}{{tab1-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="2" class="tab-content hide" data-aos="fade-up">
            {{#markdown}}{{tab2-content}}{{/markdown}}
          </div>
          <div data-tab-content-number="3" class="tab-content hide" data-aos="fade-up">
            {{#markdown}}{{tab3-content}}{{/markdown}}
          </div>
        </div>
      </div>
    </section>
        
    <section class="grid-container m-t-3" id="section-highlight">
      <div class="grid-x">
        <div class="cell small-10 small-offset-1 medium-9 medium-offset-1 large-5 large-offset-0">
          <div class="highlight-box">
            <div class="header-group m-b-3">
              <h2 class="h1">{{pledge-header}}</h2>
              <h3 class="h2">{{pledge-subheader}}</h3>
            </div>
            <a class="button success large" href="{{pledge-link}}"><span>{{pledge-button}}</span></a>
          </div>
        </div>
        <div class="cell small-10 small-offset-1 medium-9 medium-offset-1 large-5 large-offset-1">
          <div class="highlight-box m-t-5">
            <div class="header-group m-b-3">
              <h2 class="h1">{{volunteer-header}}</h2>
              <h3 class="h2">{{volunteer-subheader}}<br>{{volunteer-subheader-line2}}</h3>
            </div>
            <a class="button success large" href="{{volunteer-link}}"><span>{{volunteer-button}}</span></a>
          </div>
        </div>
			</div>
		</section>
    <div id="share-background" class="fluid" data-interchange="[{{root}}assets/img/DC2026-Share_Background-sm.png, small], [{{root}}assets/img/DC2026-Share_Background-sm.png, large]">
      <section class="grid-container p-t-6 p-b-8" id="section-share">
        <div class="grid-x grid-padding-x">
          <div id="post-container" class="cell small-12 medium-5 medium-offset-1 large-3 large-offset-2 show-for-large" data-aos="fade">
            <div class="post-example" id="post-facebook" data-post-channel="facebook">
              <div class="post-text-container">
                {{#markdown}}{{social-facebook-paragraph-preview}}{{/markdown}}
              </div>
              <img alt="{{social-facebook-img-alt}}" src="{{root}}assets/img/DC2026-og-img.jpg">
							<div class="og-content">
								<p>
									<strong>{{og-title}}</strong><br>
									{{og-description}}
								</p>
							</div>
            </div>
            <div class="post-example hidden" id="post-twitter" data-post-channel="twitter">
              <div class="post-text-container">
                {{#markdown}}{{social-twitter-paragraph-preview}}{{/markdown}}
								<p id="twitter-text" class="hide">{{social-twitter-paragraph}}</p>
              </div>
              <img alt="{{social-twitter-img-alt}}" src="{{root}}assets/img/DC2026-Share_Twitter.jpg">
            </div>
<!--
            <div class="post-example hidden" id="post-instagram" data-post-channel="instagram">
              <img alt="{{social-instagram-img-alt}}" src="{{root}}assets/img/DC2026-Share_Instagram.jpg">
              <div class="post-text-container">
                {{#markdown}}{{social-instagram-paragraph-preview}}{{/markdown}}
              </div>
            </div>
-->
            <div class="post-example hidden" id="post-whatsapp" data-post-channel="whatsapp">
              <div class="post-text-container"><p id="whatsapp-text">
              {{social-whatsapp-paragraph}}
              </p></div>
            </div>
            <div class="post-example hidden" id="post-linkedin" data-post-channel="linkedin">
              <div class="post-text-container">
                {{#markdown}}{{social-linkedin-paragraph-preview}}{{/markdown}}
								<p id="linkedin-text" class="hide">{{social-linkedin-paragraph}}</p>
              </div>
              <img alt="{{social-linkedin-img-alt}}" src="{{root}}assets/img/DC2026-og-img.jpg">
            </div>
<!--
            <div class="post-example hidden" id="post-messenger" data-post-channel="messenger">
              <div class="post-text-container"><p>
              {{social-messenger-paragraph}}
              </p></div>
            </div>
-->
            <div class="post-example hidden" id="post-sms" data-post-channel="sms">
              <img alt="{{social-linkedin-img-alt}}" src="{{root}}assets/img/DC2026-og-img.jpg">
              <div class="post-text-container">
                {{#markdown}}{{social-sms-paragraph-preview}}{{/markdown}}
								<p id="sms-text" class="hide">{{social-sms-paragraph}}</p>
              </div>
            </div>
            <div class="post-example hidden" id="post-email" data-post-channel="email">
              <div id="post-email-top-bar"></div>
              <div class="post-text-container">
                <p id="post-email-input-bar">
                  <strong id="email-subject">{{social-email-subject}}</strong>
                </p>
                <p id="email-text">{{social-email-paragraph}}</p>
              </div>
            </div>
          </div>
          <div class="cell small-12 medium-8 medium-offset-1 large-5">
            <div class="grid-x">
              <div class="cell small-12" data-aos="fade">
                <div class="header-group m-b-3">
                  <h2 class="h1">{{ share-header }}</h2>
                  <h3 class="h2">{{ share-hashtag }}</h3>
                </div>
              </div>
              <div class="cell small-6" data-aos="fade">
								
                <a href="" class="share-cta" id="cta-facebook" data-share-channel="facebook"><i class="share-cta-icon fab fa-facebook-f"></i>{{share-cta-facebook}}</a><br>
								<script>
									document.getElementById('cta-facebook').onclick = function(e) {
										FB.ui({
											app_id: '223348358811580',
											display: 'popup',
											method: 'share',
											redirect_uri: 'https://dc2026.org',
											href: 'https://dc2026.org',
											quote: '{{social-facebook-paragraph}}',
											hashtag: '#UnitedByTheGame',
										}, function(response){});
									}
								</script>
								
                <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fdc2026.org%2F&ref_src=twsrc%5Etfw&related=DC2026&text=Join%20me%20and%20pledge%20your%20support%20to%20make%20Washington%2C%20DC%20a%202026%20FIFA%20World%20Cup%20destination!%20We%20are%20%23UnitedByTheGame%20dc2026.org%2F%20%23DC2026&tw_p=tweetbutton" class="share-cta cta-twitter" id="cta-twitter" data-share-channel="twitter"><i class="share-cta-icon fab fa-twitter"></i>{{share-cta-twitter}}</a><br>
								
<!--								<a href="#" class="share-cta" id="cta-instagram" data-share-channel="instagram"><i class="share-cta-icon fab fa-instagram"></i>{{share-cta-instagram}}</a><br>-->
								
                <a href="http://www.linkedin.com/shareArticle?mini=true&url=dc2026.org&title=Join%20me%20in%20the%20movement%20to%20secure%20DC%20as%20the%202026%20FIFA%20World%20Cup%20destination!%20Pledge%20your%20support%20to%20keep%20the%20momentum%20going%20here%20%3E%20dc2026.org%20%23DC2026" class="share-cta cta-linkedin" id="cta-linkedin" data-share-channel="linkedin"><i class="share-cta-icon fab fa-linkedin"></i>{{share-cta-linkedin}}</a>
              </div>
              <div class="cell small-6" data-aos="fade">
								
								
<!--                <a href="#" class="share-cta" id="cta-messenger" data-share-channel="messenger"><i class="share-cta-icon fab fa-facebook-messenger"></i>{{share-cta-messenger}}</a><br>-->
								
                <a href="sms:Choose%20Your%20Recipients&body=Join%20me%20in%20the%20movement%20to%20secure%20DC%20as%20the%202026%20FIFA%20World%20Cup%20destination!%20Pledge%20your%20support%20to%20keep%20the%20momentum%20going%20here%20%3E%20dc2026.org" class="share-cta cta-sms" id="cta-sms" data-share-channel="sms"><i class="share-cta-icon fas fa-sms"></i>{{share-cta-sms}}</a><br>
								
								<a href="whatsapp://send?text=%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20Join%20me%20in%20the%20movement%20to%20secure%20DC%20as%20the%202026%20FIFA%20World%20Cup%20destination!%20Pledge%20your%20support%20to%20keep%20the%20momentum%20going%20here%20%3E%20dc2026.org%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20" class="share-cta cta-whatsapp hide-for-medium" id="cta-whatsapp" data-share-channel="whatsapp" target="_blank"> <i class="share-cta-icon fab fa-whatsapp"></i>{{share-cta-whatsapp}}</a><br class="hide-for-medium">
								
                <a href="mailto:%20?&subject=DC%20Stands%20Prepared%20to%20Host%20the%202026%20World%20Cup%3A%20Join%20Me%20In%20The%20Movement&body=%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20" class="share-cta cta-email" id="cta-email" data-share-channel="email"><i class="share-cta-icon far fa-envelope"></i>{{share-cta-email}}</a>
								
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <section id="section-media">
<!--          <source srcset="{{root}}assets/img/DC2026-media_pattern-lg.png" media="(min-width: 960px)"> -->
				<img src="{{root}}assets/img/DC2026-media_pattern-sm.png" alt="" id="media-graphic-pattern" data-aos="fade" data-aos-anchor-placement="top-bottom">
			<div class="grid-container">
				<div id="media-graphics">
					<picture>
	<!--          <source srcset="{{root}}assets/img/DC2026-Briana_Scurry_silhouette-lg.png" media="(min-width: 960px)"> -->
						<img src="{{root}}assets/img/DC2026-Briana_Scurry_silhouette-sm.png" alt="" id="media-graphic-silhouette" data-aos="fade-right">
					</picture>
					<picture>
<!--						<source srcset="{{root}}assets/img/DC2026-Briana_Scurry-lg.png" media="(min-width: 960px)"> -->
						<img src="{{root}}assets/img/DC2026-Briana_Scurry-sm.png" alt="{{ media-athlete-image-alt }}" id="media-graphic-athlete" data-aos="fade-right" data-aos-delay="200">
					</picture>
					<div id="media-graphic-caption" class="show-for-large" data-aos="fade-right" data-aos-duration="400">
						<p class="caption"><strong>{{ media-athlete-name }}</strong><br>{{ media-athlete-title }}</p>
					</div>
				</div>
				<div class="grid-x m-b-5">
					<div class="cell small-10 medium-6 medium-offset-1 large-4 large-offset-0">
						<h2 class="h1" data-aos="fade">{{follow-header}}</h2>
						<p data-aos="fade">{{follow-paragraph}}</p>
						<div data-aos="fade">
							<a href="https://www.facebook.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/dc2026" class="follow-button"><i class="follow-icon fab fa-twitter"></i></a>
							<a href="https://www.instagram.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-instagram"></i></a>
	<!--            <a href="#" class="follow-button"><i class="follow-icon fab fa-youtube"></i></a>-->
	<!--            <a href="#" class="follow-button"><i class="follow-icon fab fa-snapchat-ghost"></i></a>-->
						</div>
					</div>
				</div>
				<div class="grid-x m-b-5">
					<div class="cell small-10 medium-6 medium-offset-1 large-4 large-offset-0">
						<h2 class="h1" data-aos="fade">{{contact-header}}</h2>
						<p data-aos="fade">{{contact-paragraph}}</p>
						<button class="button success large contact-opener" data-aos="fade"><span>{{contact-button}}</span></button>
					</div>
				</div>
				<div class="grid-x">
					<div class="cell small-10 medium-6 medium-offset-1 large-3 large-offset-0">
						<h2 class="h1" data-aos="fade">{{media-header}}</h2>
						<p data-aos="fade">{{media-paragraph}}</p>
					</div>
				</div>
				<div class="grid-x p-b-8">
					<div class="cell small-6 medium-offset-1 large-12 large-offset-0" data-aos="fade">
							<div class="grid-x grid-margin-x">
								<div class="cell small-12 large-3 download">
									<img alt="{{download-logo-img-alt}}" src="{{root}}assets/img/DC2026_Logo_Image.jpg">
									<h3 class="h4">{{download-logo}}</h3>
									<p>
										<a href="{{root}}assets/img/DC2026_Logos_png.zip" target="_blank">{{download-label}} .png</a><br>
										<a href="{{root}}assets/img/DC2026_Logos_eps.zip" target="_blank">{{download-label}} .eps</a>
									</p>
								</div>
								<div class="cell small-12 large-3 download">
									<img alt="{{download-fact-sheet-img-alt}}" src="{{root}}assets/img/DC2026_FactSheet{{#ifequal lang 'es'}}_ES{{/ifequal}}_Image.jpg">
									<h3 class="h4">{{download-fact-sheet}}</h3>
									<p>
										<a href="{{root}}assets/img/DC2026_FactSheet{{#ifequal lang 'es'}}_ES{{/ifequal}}.pdf" target="_blank">{{download-label}} PDF</a>
									</p>
								</div>
								<div class="cell small-12 large-3 download">
									<img alt="{{download-press-release-img-alt}}" src="{{root}}assets/img/DC2026_PressRelease{{#ifequal lang 'es'}}_ES{{/ifequal}}_Image.png">
									<h3 class="h4">{{download-press-release}} 6.30</h3>
									<p>
										<a href="{{root}}assets/img/DC2026_Launch_PR_FINAL{{#ifequal lang 'es'}}_ES{{/ifequal}}.pdf" target="_blank">{{download-label}} PDF</a>
									</p>
								</div>
								<div class="cell small-12 large-3 download">
									<img alt="{{download-press-release-img-alt}}" src="{{root}}assets/img/DC2026_PressRelease_2_Image.png">
									<h3 class="h4">{{download-press-release}} 7.22</h3>
									<p>
										<a href="{{root}}assets/img/DC2026_FIFA_Workshop_PR.pdf" target="_blank">{{download-label}} PDF</a>
									</p>
								</div>
							</div>
					</div>
				</div>
			</div>
    </section>
    
    <section id="section-board" class="p-t-3 p-b-3">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell small-8 large-5 m-b-1">
            <h2 class="h1 m-b-3" data-aos="fade">{{board-header}}</h2>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-6 large-4 member-container" data-aos="fade">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Max Brown</p>
                <p class="member-org-large">Events DC</p>
              </div>
              <div class="cell small-6 large-4 member-container" data-aos="fade">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Bill Hamid</p>
                <p class="member-org-large">D.C. United</p>
              </div>
							<div class="cell small-6 large-4 member-container" data-aos="fade">
                <p class="member-title-large">Co-Chair</p>
                <p class="member-name-large">Mark Ein</p>
                <p class="member-org-large">Capitol Investment Corp.</p>
              </div>
              <div class="cell small-6 large-4 member-container" data-aos="fade">
                <p class="member-title-large">Honorary Chair</p>
                <p class="member-name-large">Gina Adams</p>
                <p class="member-org-large">FedEx Corporation</p>
              </div>
              <div class="cell small-6 large-4 member-container" data-aos="fade">
                <p class="member-title-large">Host Team</p>
                <p class="member-name-large">Jason Levien</p>
                <p class="member-org-large">D.C. United</p>
              </div>
            </div>
          </div>
          <div class="cell small-12">
            <div class="grid-x grid-margin-x">
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Leona Agouridis</p>
                <p class="member-org">Golden Triangle Business Improvement District</p>
              </div>
							<div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Yousef Al Otaiba</p>
                <p class="member-org">United Arab Emirates</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Pedro Alfonso</p>
                <p class="member-org">Dynamic Concepts, Inc.</p>
              </div>              
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">José Andrés</p>
                <p class="member-org">World Central Kitchen</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Rushern Baker</p>
                <p class="member-org">Prince George's County</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Steve Baldwin</p>
                <p class="member-org">Washington Spirit</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Chris Bloyer</p>
                <p class="member-org">Washington Football Team&nbsp;/ FedExField</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Sashi Brown</p>
                <p class="member-org">Monumental Sports &amp; Entertainment</p>
              </div>
							<div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Monica Dixon</p>
                <p class="member-org">Monumental Sports &amp; Entertainment</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">John	Falcicchio</p>
                <p class="member-org">Office of the Deputy Mayor for Planning and Economic Development</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Ximena Hartsock</p>
                <p class="member-org">Phone2Action</p>
              </div>
							<div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Bethany Henderson</p>
                <p class="member-org">DC SCORES&nbsp;/<br>America SCORES</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Monty Hoffman</p>
                <p class="member-org">Hoffman &amp; Assoc.</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Brian Huseman</p>
                <p class="member-org">Amazon</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Matt Kelly</p>
                <p class="member-org">JBG Smith Properties</p>
              </div>
							<div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Cathy Lanier</p>
                <p class="member-org">National Football League</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Joanna Lohman</p>
                <p class="member-org">U.S. W. National Team&nbsp;/ Washington Spirit</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">LaRuby May</p>
                <p class="member-org">May Lightfoot PLLC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Kenyan McDuffie</p>
                <p class="member-org">DC Council</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Brent Minor</p>
                <p class="member-org">Team DC</p>
              </div>
							<div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Luis	Moreno</p>
                <p class="member-org">Inter-American Development Bank</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Chris Nassetta</p>
                <p class="member-org">Hilton</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Kurt Newman</p>
                <p class="member-org">Children's National Hospital</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Greg O'Dell</p>
                <p class="member-org">Events DC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Heather Podesta</p>
                <p class="member-org">Invariant</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Eddie Pope</p>
                <p class="member-org">Octagon</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Nicole Quiroga</p>
                <p class="member-org">Greater Washington Hispanic Chamber of Commerce</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Debby Ratner Salzberg</p>
                <p class="member-org">RMS Corporations</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Major Riddick</p>
                <p class="member-org">Prince George's County</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Arturo Sarukhan</p>
                <p class="member-org">Sarukhan + Associates LLC</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Briana Scurry</p>
                <p class="member-org">Washington Spirit&nbsp;/ National Soccer Hall of Fame</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Rudy Seikaly</p>
                <p class="member-org">MCN</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Tim	Shriver</p>
                <p class="member-org">Special Olympics</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Ben Soto</p>
                <p class="member-org">Premium Title &amp; Escrow</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Andi Sullivan</p>
                <p class="member-org">U.S. W. National Team&nbsp;/ Washington Spirit</p>
              </div>
              <div class="cell small-4 medium-3 large-2 member-container" data-aos="fade">
                <p class="member-name">Mark Weinberger</p>
                <p class="member-org">Ernst &amp; Young LLP</p>
              </div>
            </div>
          </div>
        </div>
    </section>
    <section id="section-youth-board" class="p-b-6">
      <div class="grid-container">
        <div class="grid-x">
          <div class="cell small-7 medium-5 m-b-1">
            <h2 class="h1 m-b-3" data-aos="fade">{{youth-board-header}}</h2>
            <p data-aos="fade">{{youth-board-paragraph}}</p>
            <a class="button large" href="{{youth-board-link}}" target="_blank"><span>{{youth-board-button}}</span></a>
          </div>
          <div id="youth-board-graphics">
            <picture>
              <source srcset="{{root}}assets/img/DC2026-Bill_Hamid_silhouette-md.png" media="(min-width: 960px)">
              <img src="{{root}}assets/img/DC2026-Bill_Hamid_silhouette-sm.png" alt="" id="youth-board-graphic-silhouette" data-aos="fade-right">
            </picture>
            <picture>
              <source srcset="{{root}}assets/img/DC2026-Bill_Hamid-md.png" media="(min-width: 960px)">
              <img src="{{root}}assets/img/DC2026-Bill_Hamid-sm.png" alt="{{ board-athlete-image-alt }}" id="youth-board-graphic-athlete" data-aos="fade-right" data-aos-delay="200">
            </picture>
            <!-- <div id="board-graphic-caption" class="show-for-large" data-aos="fade-right" data-aos-duration="400">
              <p class="caption"><strong>{{ board-athlete-name }}</strong><br>{{ board-athlete-title }}</p>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    
       
    <footer class="grid-container p-t-5">
      <div class="grid-x grid-padding-x">
        <div class="cell small-8 large-5">
          <h2 class="h1 m-b-5">{{footer-header}}</h2>
        </div>
      </div>
      <div class="grid-x m-b-6 partner-logos" data-aos="fade">
				
				<div class="cell small-10 small-offset-1 large-4 large-offset-2" >
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-801-sm.png" alt="801 Shaw">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-alexandria_soccer-sm.png" alt="Alexandria Soccer Association">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-arlington_soccer-sm.png" alt="Arlington Soccer Association est 1970">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-0">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-beach_fc-sm.png" alt="Beach FC — Virginia Beach, VA">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-club_champions_league-sm.png" alt="Club Champions League">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-dc_brau-sm.png" alt="D.C. Brau">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-2">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-dc_fray-sm.png" alt="DC Fray">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-dc_scores-sm.png" alt="D.C. Scores">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-stoddert-sm.png" alt="Washington DC Stoddert Soccer">
						</div>
          </div>
        </div>
        <div class="cell small-10 small-offset-1 large-4 large-offset-0">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-dc_united-sm.png" alt="D.C. United">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-district_sports-sm.png" alt="District Sports">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-edp-sm.png" alt="EDP">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-2">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-fc_richmond-sm.png" alt="FC Richmond">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-four_courts-sm.png" alt="Ireland’s Four Courts">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-golden_boot-sm.png" alt="Golden Boot">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-0">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-great_falls-sm.png" alt="Great Falls Reston">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-lee_mtvernon-sm.png" alt="Lee-Mt. Vernon Sports Club">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-loudon_soccer-sm.png" alt="Loudon Soccer">
						</div>
        </div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-2">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-loudon_united-sm.png" alt="Loudon United">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-mad_hatter-sm.png" alt="Mad Hatter">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-msysa-sm.png" alt="Maryland State Youth Soccer association">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-0">
					<div class="flex-container">
            <div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-maryland_soccerplex-sm.png" alt="Maryland SoccerPlex">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-mclean-sm.png" alt="McLean">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-monumental-sm.png" alt="Monumental Sports and Entertainment">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-2">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-npc_ff-sm.png" alt="NPC FF">
						</div>
            <div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-potomac_soccer-sm.png" alt="Potomac Soccer Association">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-shaws_tavern-sm.png" alt="Shaw's Tavern">
						</div>
					</div>
				</div>
				<div class="cell small-10 small-offset-1 large-4 large-offset-0">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-shenandoah_valley_united-sm.png" alt="Shenandoah Valley United">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-sya-sm.png" alt="Southwestern Youth Association">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-team_dc-sm.png" alt="Team DC">
						</div>
        </div>
				</div>
				<div class="cell small-10 small-offset-1 large-6 large-offset-3">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-vbr_star-sm.png" alt="VBR Star 1986">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-wags-sm.png" alt="Women and Girls in Soccer">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-capital-sm.png" alt="Washington Capital Utd.">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-washington_spirit-sm.png" alt="Washington Spirit">
						</div>
					</div>
				</div>
				
				<div class="cell small-12 large-8 large-offset-2">
					<div class="flex-container">
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-fedex_field-sm.png" alt="FedEx Field">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-audi_field-sm.png" alt="Audi Field">
						</div>
						<div class="flex-child-auto m-b-2">
							<img src="{{root}}assets/img/DC2026-partner-trinity_washington-sm.png" alt="Trinity Washington">
						</div>
					</div>
				</div>
      </div>
			
      <div class="grid-x">
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-United2026_Logo.png" alt="{{united2026-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-CA_Soccer_Logo.png" alt="{{canada-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-MX_Soccer_Logo.png" alt="{{mexico-logo-alt}}">
        </div>
        <div class="cell small-3 medium-1 m-b-2">
          <img src="{{root}}assets/img/DC2026-US_Soccer_Logo.png" alt="{{us-soccer-logo-alt}}">
        </div>
				<div class="cell small-4 small-offset-4 medium-3 medium-offset-4 m-b-2 p-r-1 p-t-1 p-l-1">
					<img src="{{root}}assets/img/DC2026-partner-government_of_dc-sm.png" alt="We Are Washington DC - Government of the District of Columbia Muriel Bowser Mayor">
				</div>
				<div class="cell small-4 small-offset-4 medium-1 medium-offset-0 m-b-2 p-t-1">
          <img src="{{root}}assets/img/DC2026-Events_DC_Logo.png" alt="{{us-soccer-logo-alt}}" class="float-center">
        </div>
        <div class="cell small-12">
          <p class="text-center"><small>{{copyright}} &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; <a href="http://eventsdc.com/Privacy.aspx">{{privacy-policy}}</a></small></p>
        </div>
      </div>
    </footer>
		</main>
    
    <div class="reveal large reverse" id="modal" data-reveal data-overlay="true" data-animation-in="fade-in" data-animation-out="fade-out" data-events="resize"></div>
    
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{root}}assets/js/app.js"></script>
    
  </body>
</html>
