<div class="modal">
  <div class="grid-x grid-padding-x">
    <div class="cell small-12">
      <button type="button" data-close aria-label="Close" class="close-modal clear button float-right"></button>
    </div>
    <div class="cell small-12 medium-10 medium-offset-1 signup-success">
      <h2 class="huge">{{thank-you-header}}</h2>
    </div>
    <div class="cell small-12 medium-10 medium-offset-1 large-5 m-b-2 signup-success">
      <div class="grid-x">
        <div class="cell small-12">
          <div class="header-group">
            <h2 class="h1">{{next-step-header}}</h2>
            <h3 class="h2">{{next-step-subheader}}</h3>
          </div>
          <p>{{next-step-paragraph}}</p>
        </div>
        <div class="cell small-6">
          <a href="" class="share-cta" id="ty-cta-facebook" data-share-channel="facebook"><i class="share-cta-icon fab fa-facebook-f"></i>{{share-cta-facebook}}</a>
					<script>
						document.getElementById('ty-cta-facebook').onclick = function(e) {
							FB.ui({
								display: 'popup',
								method: 'share',
								href: 'http://staging.dc2026.org',
							}, function(response){});
						}
					</script><br>
          <a href="#" class="share-cta" id="ty-cta-twitter" data-share-channel="twitter"><i class="share-cta-icon fab fa-twitter"></i>{{share-cta-twitter}}</a><br>
          <a href="#" class="share-cta" id="ty-cta-instagram" data-share-channel="instagram"><i class="share-cta-icon fab fa-instagram"></i>{{share-cta-instagram}}</a><br>
          <a href="#" class="share-cta" id="ty-cta-whatsapp" data-share-channel="whatsapp"> <i class="share-cta-icon fab fa-whatsapp"></i>{{share-cta-whatsapp}}</a>
        </div>
        <div class="cell small-6">
          <a href="#" class="share-cta" id="ty-cta-linkedin" data-share-channel="linkedin"><i class="share-cta-icon fab fa-linkedin"></i>{{share-cta-linkedin}}</a><br>
          <a href="#" class="share-cta" id="ty-cta-messenger" data-share-channel="messenger"><i class="share-cta-icon fab fa-facebook-messenger"></i>{{share-cta-messenger}}</a><br>
          <a href="#" class="share-cta" id="ty-cta-sms" data-share-channel="sms"><i class="share-cta-icon far fa-comment"></i>{{share-cta-sms}}</a><br>
          <a href="#" class="share-cta" id="ty-cta-email" data-share-channel="email"><i class="share-cta-icon far fa-envelope"></i>{{share-cta-email}}</a>
        </div>
      </div>
    </div>
    <div class="cell small-12 medium-10 medium-offset-1 large-5 large-offset-0 signup-success">
      <h2 class="h1 p-b-1">{{follow-header}}</h2>
        <p class="m-b-2">{{follow-paragraph}}</p>
        <div>
          <a href="https://www.facebook.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/dc2026" class="follow-button"><i class="follow-icon fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/dc2026/" class="follow-button"><i class="follow-icon fab fa-instagram"></i></a>
        </div>
    </div>
    <div id="signup-header" class="cell small-12 medium-offset-1 medium-4">
      <div class="header-group">
        <h2 class="h1">{{header}}</h2>
        <h3 class="h2">{{subheader}}</h3>
      </div>
      <p>{{paragraph}}</p>
			<div class="signup-error">
				<h2>{{error-header}}</h2>
				<p id="error-paragraph" class="error-paragraph">{{error-paragraph}}</p>
				<p id="error-paragraph-connection" class="error-paragraph" style="display:none;">{{error-paragraph-connection}}</p>
				<p id="error-paragraph-400" class="error-paragraph" style="display:none;">{{error-paragraph-400}}</p>
				<p id="error-paragraph-500" class="error-paragraph" style="display:none;">{{error-paragraph-500}}</p>
			</div>
    </div>

    <form data-abide novalidate action="/process.php" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="cell small-12 medium-6 large-5 large-offset-1" target="_blank">
      <label for="mce-FNAME"><span class="special-label">{{first-name-label}}  <span class="asterisk">*</span></span>
        <input type="text" value="" name="FNAME" placeholder="Eddie" class="required" id="mce-FNAME" pattern="text" required>
        <span class="form-error">{{first-name-error}}</span>
      </label>

      <label for="mce-LNAME"><span class="special-label">{{last-name-label}}  <span class="asterisk">*</span></span>
        <input type="text" value="" name="LNAME" placeholder="Pope" class="required" id="mce-LNAME" pattern="text" required>
        <span class="form-error">{{last-name-error}}</span>
      </label>

      <label for="mce-EMAIL"><span class="special-label">{{email-label}}  <span class="asterisk">*</span></span>
        <input type="email" value="" name="EMAIL" placeholder="eddie@dc2026.org" class="required email" id="mce-EMAIL" pattern="email" required>
        <span class="form-error">{{email-error}}</span>
      </label>

      <label for="mce-ZIP"><span class="special-label">{{zip-code-label}}  <span class="asterisk">*</span></span>
        <input type="text" value="" name="ZIP" placeholder="20515" class="required" id="ZIP" pattern="zip" required>
        <span class="form-error">{{zip-code-error}}</span>
      </label>

      <label for="mce-PHONE"><span class="special-label">{{phone-number-label}}</span>
        <input type="text" name="PHONE" placeholder="1 (202) 123-4567" class="" value="" id="mce-PHONE" pattern="phone">
        <span class="form-error">{{phone-error}}</span>
      </label>
      <p id="phone-disclaimer">{{phone-number-disclaimer}}</p>

      <input type="checkbox" value="1" name="VOLUNTEER" id="mce-group[16309]-16309-0" data-receive="intent"><label class="checkbox-label" for="mce-group[16309]-16309-0">{{#markdown}}{{checkbox-label}}{{/markdown}}</label>

      <div id="mce-responses" class="clear">
        <div id="mce-error-response" style="display:none"></div>
        <div id="mce-success-response" style="display:none"></div>
      </div>

      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ef289742b6538dd233f2ae53a_9dbd6a6ea3" tabindex="-1" value=""></div>

      <div class="p-t-3">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button large success">
      </div>

    </form>

  </div>
</div>